<li class="feedback-message">
    <form>
        <label>
            <input type="text" name="name" value={{  name  }} class="input-name" />
        </label>

        <label>
            <textarea name="message" rows="6" class="textarea" value={{ message }}>
            </textarea>
        </label>
    </form>
</li>